<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.shepgoba.folderlistprefs</string>
			<key>key</key>
			<string>replaceoriginalview</string>
			<key>label</key>
			<string>Replace Original View</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Customization</string>
			<key>footerAlignment</key>
                        <integer>1</integer>
			<key>footerText</key>
			<string>Swiping up and down shows and hides icons in the folder.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.shepgoba.folderlistprefs</string>
			<key>key</key>
			<string>notificationBadgesEnabled</string>
			<key>label</key>
			<string>Notification Badges</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SizeStepperCell</string>
			<key>default</key>
			<real>350</real>
			<key>defaults</key>
			<string>com.shepgoba.folderlistprefs</string>
			<key>key</key>
			<string>FolderSize</string>
			<key>id</key>
			<string>FolderSize</string>
			<key>label</key>
			<string>Folder Size:</string>
			<key>max</key>
			<real>550</real>
			<key>min</key>
			<real>350</real>
			<key>height</key>
			<string>40</string>
			<key>PostNotification</key>
			<string>com.shepgoba.folderlistprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.shepgoba.folderlistprefs</string>
			<key>key</key>
			<string>Milk</string>
			<key>label</key>
			<string>Modify Background View</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Sorting Type</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.shepgoba.folderlistprefs</string>
			<key>key</key>
			<string>sortingType</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Original</string>
				<string>A-Z</string>
				<string>Z-A</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@Lizynz1 ~ 14 - 18</string>
			<key>action</key>
			<string>openX</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@shepgoba ~ 12 - 13</string>
			<key>action</key>
			<string>openTwitter</string>
		</dict>
	</array>
	<key>title</key>
	<string>FolderList</string>
</dict>
</plist>
